body {
  background-image: url("../photos/zobck.jpg");
}

#create-visitor-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5cm;
  margin-top: 2cm;
}
p {
  font-size: 22px;
}
Label {
  display: contents;
  font-size: 22px;
  font-weight: bold;
}
input {
  font-size: 20px;
}
#sub {
  font-size: 0.8cm;
}
p {
  margin: 0;
  padding: 0;
}

body#visitors {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

h2 {
  display: flex;
  justify-content: center;
  color: #333;
  margin-top: 2cm;
}
h1 {
  display: flex;
  justify-content: center;
}
#selectedVisitorMessage {
  margin-top: 15px;
  padding: 10px;
  background-color: #e6f7ff;
  border: 1px solid #b3e0ff;
  border-radius: 5px;
}

#searchVisitor {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

#visitorDisplay {
  margin-top: 20px;
  padding-left: 2.5cm;
  padding-right: 2.7cm;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1cm;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 19.5rem;
}
img {
  height: 10rem;
  width: 10rem;
}
button {
  display: block;
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
#animalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1cm;
  padding-left: 2.5cm;
  padding-right: 2.7cm;
}
.animal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 28rem;
  width: 19.5rem;
}
img card-img-top {
  height: 15rem;
  width: 15rem;
}
#fillters {
  background-color: #d46127;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5cm;
  flex-wrap: wrap;
}
.searchLabel {
  font-size: 16px;
}
.searchInput {
  font-size: 14px;
  font-weight: bold;
  width: 1.8cm;
  height: 0.5cm;
}
#related-animals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1cm;
  margin-top: 0.5cm;
  padding-left: 6cm;
  padding-right: 3.7cm;
}
#related-animals .card {
  height: 10rem;
}
#related-animals .card img {
  height: 7rem;
}
#visited-animals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1cm;
  margin-top: 0.5cm;
  padding-left: 6cm;
  padding-right: 3.7cm;
}
#visited-animals .card {
  height: 10rem;
}
#visited-animals .card img {
  height: 7rem;
}
#feeded-animals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1cm;
  margin-top: 0.5cm;
  padding-left: 6cm;
  padding-right: 3.7cm;
}
#feeded-animals .card {
  height: 10rem;
}
#feeded-animals .card img {
  height: 7rem;
}
#favorite-animal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1cm;
  margin-top: 0.5cm;
  padding-left: 6cm;
  padding-right: 3.7cm;
}
#favorite-animal .card {
  height: 10rem;
}
#favorite-animal .card img {
  height: 7rem;
}
/*nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding-left: 6.5cm;
}*/
nav .navbar-nav {
  display: flex;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  align-items: center;
  justify-content: space-between;
  gap: 1cm;
}
span #selectedVisitorInfo {
  align-self: center;
  justify-self: center;
}
#selectedVisitorInfo {
  margin-right: 20px;
}

#visitorDropdown {
  width: 200px;
}
